/aulas
/.mypy_cache
/venv
/projeto_calculadora/__pycache__
projeto_calculadora/files/dbeaver-ce-23.3.1-x86_64-setup.exe
projeto_calculadora/files/EpicInstaller-15.17.1-46974eb0b717499c99ccbcd56149a012.msi
